<p>Here is all my dinosaurs</p>




<ul>
    <!-- looping through array  - using for of -->
    <% for(let dino of dinos) { %>
        <p><%=  dino.name %></p>
        <p><%= dino.type %></p>
   <% } %>

   
</ul>